$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.box {
    border-style: solid;
    height: 135px;
    text-align: center;
    width: 160px;
    font-size: 85px;
    color: white;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 0px 0px 30px rgb(0, 148, 255);
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    background-color: black;
}
.navbar-brand {
  font-size: 30px;
}

.dropdown-menu {
  font-size: 18px;
  text-align: center;
}

.display-winner {
  font-size: 120px;
  color: black;
}

.gamecountmessage {
  color: blue;
  font-size: 18px;
}

.ttt-box {
  margin: 0 auto;
  width: 500px;
  color: black;
}

h2
h3 {
  font-size: 85px;
  text-align: center;
}

body {
  background-color: white;
}
